<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>手机设备管理平台</title>
</head>
<body role = 'document'>

<div class="row" style="padding-top:120px;">
    <div class="container">
        <font size="8">
            <h1>操作成功！</h1>
        </font>
    </div>
</div>

<div class="row" style="padding-top:23px;">
    <div class="container">
        <tr>
            <td><a href="../phoneinfo_manage" target="mainFrame">返回</a></td>
        </tr>
    </div>
</div>


</body>
</html>